html
,body
{
    height:100%;
    margin:0;
    font-size:16px;
    font-family:"Lato",sans-serif;
    font-weight:400;
    line-height:1.8em;
    color:#666;

}
.d1
{
background-image: url('img1.jpg');
min-height:80%;

}
.d2{
    background-image: url('img2.jpg');
    min-height:100%;
}
.d3
{
    background-image: url('img3.jpg');
    min-height:100%;
}

.d1,
.d2,
.d3
{
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
.dtxt{
    position:absolute;
    top:50%;
    width: 100%;
    text-align: center;
    color:black;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
   
}
.tbg{
    background-color: rgb(0, 255, 85);
    color: white;
    padding: 20px;

}
.section{
    padding: 50px 80px;
    text-align: center;
}
.ses{
    background-color: blueviolet;
    color: white;

}
.ses1{
    background-color: greenyellow;
    color: red;

}

.ses2{
    background-color: yellow;
    color:green;

}